
#logo {
    width: 80px;
    height: 74px;
}

.navbar {
    background-color: var(--bg-color) !important;
}

.nav-link {
    display: inline;
    color: var(--title-color) !important;
    font-family: var(--font-family);
    font-size: var(--text-font-size);
}

.nav-link:hover {
    opacity: var(--hover-opacity);
}


/*.navbar-toggler .navbar-toggler-icon {
    width: 100%;
    height: 100%;
}*/

.navbar-toggler {
    background-color: var(--widget-color);
    border-color: #fff;
}

.navbar-toggler:hover {
    border-color: var(--widget-color);
    background-color: #fff;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: var(--white-toggler-icon);
}

.navbar-toggler:hover > .navbar-toggler-icon{
    background-image: var(--green-toggler-icon);

}


