:root {
    --bg-color: #F8FAE5;
    --title-color: #76453B;
    --text-color: #B19470;
    --widget-color: #43766C;

    --font-family: 'Nunito', sans-serif;
    --title-font-size: 54px;
    --card-title-font-size: 34px;
    --text-font-size: 18px;

    --hover-opacity: 0.6;

    --white-toggler-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --green-toggler-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2343766C' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

.card {
    margin-left: 40px;
    margin-right: auto;
    max-height: 300px;
    max-width: 75%;

    background-color: var(--bg-color);
}

#filter {
    margin: 20px;
    width: 200px;
}

.card-img {
    height: 100%;
    max-height: 300px;
}

.card-title {
    color: var(--title-color);
    font-family: var(--font-family);
    font-size: var(--card-title-font-size);
}

.card-text {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--text-font-size);
}

.btn {
    border-color: var(--widget-color);
    background-color: var(--widget-color);
}

.btn:hover {
    border-color: var(--widget-color);
    color: var(--widget-color);
    background-color: #fff;
}